target
src/main/resources/config/youtube/*
src/main/resources/config/private.properties

#font is downloaded on generate-resources phase
src/main/external-resources/skins/_shared/font/*

#idea
.idea/*
!.idea/runConfigurations/
failchat.iml

#etc
tree
docs/*
