/* Scrollbar */
.baron .scrollbar {
    background: #FFDB5F;
}

/* Viewers bar */

.viewers-bar {
    background-color: rgba(16, 21, 28, 0.9);
    border: 2px solid rgba(16, 21, 28, 1);
    border-radius: 12px;
    margin-bottom: 1px;
}

.viewers-bar-on + .chat-wrapper {
    height: calc(100% - 41px);
}

/*  Message */

.message {
    background-color: rgba(16, 21, 28, 0.9);
    margin: 0 0 3px 0;
    border: 2px solid rgba(16, 21, 28, 1);
    border-radius: 12px;
    position: relative;
    animation: appear-bottom 0.4s;
    color: white;
}

span.nick, span.origin-name, span.status-text {
    color: #FFDB5F;
}

span.highlighted {
    color: #74CD36;
}

.message a {
    color: #7fcdff;
}

/* Animations */

@keyframes appear-bottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
