html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: transparent;
    word-break: normal;
    margin: 0;
}

#message-container {
    overflow-x: hidden;
}

.scroller {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

.scrollbar {
    display: none;
}

.baron .scrollbar {
    display: block;
    visibility: hidden;
    position: absolute;
    background: #FFDB5F;
    z-index: 100;
    border-radius: 3px;
    right: 2px;
    width: 7px;
    opacity: 0.7;
    color: #FFDB5F;
}

.viewers-bar {
    display: none;
    background-color: black;
    height: 36px;
    border: 2px solid rgba(16, 21, 28, 1);
    background-color: rgba(16, 21, 28, 0.9);
    border-radius: 12px;
}

.viewers-bar-on {
    display: block;
}

.chat-wrapper {
    height: 100%;
    position: relative;
}

.viewers-bar-on + .chat-wrapper {
    height: calc(100% - 40px);
}

.viewers-origins {
    text-align: center;
    white-space: nowrap;
    padding: 10px 0 5px ;
}

.viewers-origin {
    display: none;
    margin: 0 10px;
}

.viewers-origin-on {
    display: inline;
}

.viewers-origin span {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #CACACA;
}

/*message styles*/
p {
    margin: 0 0 3px 0;
    padding: 6px;
	border: 2px solid rgba(16, 21, 28, 1);
	background-color: rgba(16, 21, 28, 0.9);
	border-radius: 12px;
    position: relative;
    animation: appear-bottom 0.4s
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

span.nick {
    font-weight: bold;
    color: #FFDB5F;
    cursor: pointer;
}


span.highlighted {
    color: #74CD36;
}

span.status-origin {
    font-weight: bold;
    color: #FFDB5F;
}
span.status-text {
    color: #FFFFFF;
}

img.icon {
    width: 16px;
    height: 16px;
}

img.smile {
    max-height: 30px;
}

img.image {
    max-height: 250px;
    max-width: 100%;
    margin: 3px 0 3px;
}

a {
    color: #7fcdff;
    font-weight: bold;
    text-decoration: none;
}

.mod-icons {
    display: none;
}

.mod-icons:hover {
    display: inline;
}

.nick:focus + .mod-icons {
    display: inline;
}

.mod-icons span {
    width: 16px;
    height: 16px;
    color: red;
    cursor: pointer;
}

@keyframes appear-bottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
