html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    margin: 0;
}

#message-container {
    overflow-x: hidden;
}

.scroller {
    overflow-y: scroll;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

.scrollbar {
    display: none;
}

.baron .scrollbar {
    display: block;
    visibility: hidden;
    position: absolute;
    background: #7797BE;
    z-index: 100;
    border-radius: 3px;
    right: 2px;
    width: 7px;
    opacity: 0.7;
    color: #7797BE;
}

.viewers-bar {
    display: none;
    background-color: black;
    height: 36px;
}

.viewers-bar-on {
    display: block;
}

.chat-wrapper {
    height: 100%;
    position: relative;
}

.viewers-bar-on + .chat-wrapper {
    height: calc(100% - 36px);
}

.viewers-sources {
    text-align: center;
    white-space: nowrap;
    padding: 10px 0 5px ;
}

.viewers-source {
    display: none;
    margin: 0 10px;
}

.viewers-source-on {
    display: inline;
}

.viewers-source span {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #CACACA;
}

/*message styles*/
p {
    margin: 0;
    padding: 6px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #CACACA;
}

span.nick {
    font-weight: bold;
    color: #7797BE;
}


span.highlighted {
    color: #f36223;
}

span.info-source {
    font-weight: bold;
    color: #567197;
}
span.info-text {
    color: #567197;
}

img.icon {
    width: 16px;
    height: 16px;
}

img.smile {
    max-height: 30px;
}

a {
    color: #c57c08;
    font-weight: bold;
    text-decoration: none;
}

.ban {
    width: 16px;
    height: 16px;
    color: red;
    display: none;
}

.ban:hover {
    display: inline;
    cursor: pointer;
}

.nick:hover + .ban {
    display: inline;
}
