html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    word-break: normal;
    margin: 0;
}

#message-container {
    overflow-x: hidden;
}

.scroller {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

.baron .scrollbar {
    display: block;
    position: absolute;
    background: #7797BE;
    z-index: 999;
    border-radius: 3px;
    right: 2px;
    width: 7px;
    opacity: 0.7;
    color: #7797BE;
}

/*message styles*/
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 6px;
}

span {
    color: #CACACA;
}

span.nick {
    font-weight: bold;
    color: #7797BE;
}


span.highlighted {
    color: #f36223;
}

span.info-source {
    font-weight: bold;
    color: #567197;
}
span.info-text {
    color: #567197;
}

img.icon {
    width: 16px;
    height: 16px;
}

img.smile {
    max-height: 30px;
}

a {
    color: #c57c08;
    font-weight: bold;
    text-decoration: none;
}