html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: transparent;
    margin: 0;
}

#body-wrapper {
    background-color: black;
    height: 100%;
    width: 100%;
}

.chat-wrapper {
    height: 100%;
    position: relative;
}

#message-container {
    overflow-x: hidden;
}

/* Scroll bar*/

.scroller {
    overflow-y: scroll;
    height: 100%;
}

.scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.baron .scrollbar {
    display: block;
    visibility: hidden;
    position: absolute;
    background: #7797BE;
    z-index: 100;
    border-radius: 3px;
    right: 2px;
    width: 7px;
    opacity: 0.7;
}

/* Viewers bar */

.viewers-bar {
    display: none;
    background-color: transparent;
    height: 36px;
    white-space: nowrap;
}

.viewers-bar.on {
    display: flex;
}

.viewers-bar.on + .chat-wrapper {
    height: calc(100% - 36px);
}

.viewers-counters {
    margin: auto;
}

.viewers-counter {
    display: none;
    height: 16px;
    margin: 0 8px;
}

.viewers-counter.on {
    display: inline-block;
}

.viewers-counter span {
    display: inline-block;
    margin: auto 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #CACACA;
}

/* Message */

.message {
    margin: 0;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #CACACA;
}

.badges {
    display: inline;
}

.message-content {
    display: inline;
}

.deleted-message .message-text {
    font-style: italic;
    color: gray;
}

span.nick {
    font-weight: bold;
    color: #7797BE;
    cursor: pointer;
}

span.nick::after {
    content: ": ";
}

span.highlighted {
    color: #f36223;
}

span.origin-name {
    font-weight: bold;
    color: #567197;
}

span.status-text {
    color: #567197;
}

img.origin-badge {
    max-width: 16px;
    max-height: 16px;
}

span.badge-character {
    display: inline-block;
    height: 16px;
    font-size: 16px;
    font-family: icomoon, sans-serif;
}

img.badge-raster {
    max-width: 16px;
    max-height: 16px;
}

img.badge-vector {
    width: 16px;
    height: 16px;
    align-content: center;
}

img.emoticon-raster {
    max-height: 30px;
}

img.emoticon-vector {
    width: 30px;
    height: 30px;
}

.image-wrapper {
    display: block;
}

img.image {
    max-height: 250px;
    max-width: 100%;
    margin: 3px 0 3px;
}

.message a {
    color: #c57c08;
    font-weight: bold;
    text-decoration: none;
}

.mod-buttons {
    display: none;
}

.nick:focus + .mod-buttons {
    display: inline;
}

.mod-buttons span {
    display: inline-block;
    margin: 0 1px;
    font-size: 14px;
    color: red;
    cursor: pointer;
}

/* Fonts */

@font-face {
    font-family: icomoon;
    src: url("../_shared/font/icomoon.woff");
}
